* {
  box-sizing: border-box;
}

body {
  background-color: rgb(28 28 28);
  color: rgb(197 197 197);
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(172 115 166);

  .count {
    font-size: 2.5rem;
  }

  .controlls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
.button {
  font-size: 1rem;
  padding: 0.5rem;
}

.setCounter {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.star-wars {
  width: 100%;
  padding: 0 4rem;
  main {
    flex: 1;
    display: flex;
    justify-content: space-around;
    gap: 1rem;

    .sidebar {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-height: 80vh;
      min-width: 35%;
      overflow-y: auto;

      .character {
        color: rgb(205 205 205);
        text-decoration: none;
        border: 0.2rem solid rgb(131 91 128);
        border-radius: 0.1rem;
        padding: 1rem;
        transition: all linear 200ms;

        &.active {
          font-weight: bold;
          text-decoration: underline;
          border: 0.4rem solid rgb(187 124 181);
          background-color: rgb(44 38 43);
        }
      }
    }

    .content {
      flex: 1;
    }
  }

  .characterView {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .property {
      display: flex;
      gap: 1rem;

      &_name {
        flex: 1;
        text-align: right;
      }
      &_value {
        flex: 2;
      }
    }
  }
}
