* {
  box-sizing: border-box;
}

body {
  background-color: rgb(28 28 28);
  color: rgb(197 197 197);
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid rgb(172 115 166);
  width: 50%;
  gap: 2rem;
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  border-radius: 1rem;
  border: 1px solid rgb(172 115 166);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .formContainer {
    display: flex;
    justify-content: space-between;
  }

  form {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    input {
      width: 5rem;
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .total {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.currencyinput {
  display: flex;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(28 28 28);
    background-color: rgb(172 115 166);
    width: 1rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
  }

  input {
    flex: 1;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

input {
  border-radius: 0.25rem;
  border: 0;
  padding: 0.5rem;
}

.newItemForm {
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

.button {
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all ease-in-out 100ms;

  &-remove {
    align-self: flex-end;
    border: 1px solid rgb(243 116 105);
    background-color: transparent;
    color: rgb(243 116 105);

    &:hover {
      background-color: rgba(243, 116, 105, 0.25);
    }
  }

  &-add {
    border: 1px solid rgb(143 208 240);
    background-color: transparent;
    color: rgb(143 208 240);

    &:hover {
      background-color: rgba(143, 208, 240, 0.25);
    }
  }
}

.tipSelect {
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    select {
      border-radius: 0.25rem;
      border: 0;
      padding: 0.5rem;
    }
  }
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: right;

  .entry {
    display: flex;
    & > div {
      flex: 1;
    }

    .title {
      font-weight: bold;
    }
  }
}
